/* Forms CSS */

.list-widget {
  	-webkit-box-shadow: 0 0 30px -3px #000;
  	box-shadow:         0 0 30px -3px #000;
  	background: transparent;
  	border-radius: 3px;
  	 background: #fff;
}

.form {
	background: #f7f7f7;
	border: 5px solid white;
	/*padding: 10px 0 0 10px;*/
	border-radius: 0 0 3px 3px;
}

.form form {
	position: relative;
}

.form div.form-group {
	clear:left;
	width:100%;
	padding-bottom: 10px;
	border-bottom: 5px solid white;
}

.form div.field {
	clear:none;
    float:left;
    margin:10px 0 0 10px;
    position:relative;
	z-index:1;
}

.form label {
	width: 100%;
	display: block;
    padding-bottom: 5px;
    line-height: 15px;
    color: #104f6c;
}

/* default inputs */
input[type="text"], input[type="password"], textarea {
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:inset 1px 1px 3px #ddd;
    -moz-box-shadow:inset 1px 1px 3px #ddd;
    -webkit-box-shadow:inset 1px 1px 3px #ddd;
    font-size: 14px;
	font-family: 'Trebuchet MS';
    padding:6px 8px;
    min-width:200px;
}

select {
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:inset 1px 1px 3px #ddd;
    -moz-box-shadow:inset 1px 1px 3px #ddd;
    -webkit-box-shadow:inset 1px 1px 3px #ddd;
    font-size:14px;
    padding:6px 8px;
}


.field .big-font{
	font-size: 18px;
}

.field .tiny{
	width: 50px;
}

.field .small{
	width: 100px;
}

.field .medium{
	width: 200px;
}

.field .large{
	width: 400px;
}

.field .extra-large{
	width: 550px;
}

.field textarea.extra-large{
	height: 200px;
}

/* submit button */

.actions{
	margin-bottom:10px;
}



/* Inline Blurbs */

.form .blurb {
	position:absolute;
	z-index:2;
	float: none;
    position: absolute;
    right: 0px;
    top: -5px;
    z-index: 100;
    padding-bottom: 7px;
    height: 22px;
}

.form .blurb span {
	background: #ccc;
	border-radius: 3px;
    font-size: 10px;
    padding: 5px;
    color: #fff;
    height: 12px;
}

.form .blurb-error span{
	background: #940000;
}

.form .blurb-error {
	background: url('../images/icons/icon.blurb.error.png') no-repeat 25% 21px;
}	

.no-labels label{
	display: none;
}

.stacked .form .field{
	float: left;
	clear: left;
}

.stacked .actions{
	float: left;
	clear: left;
}


