ul.sortable{
	list-style: none;
}

ul.sortable li .content{
	border-top: 5px solid white;
	background: #F0F0F0;
	padding: 10px;
	cursor: pointer;
	position: relative;
	
}

ul.sortable li .content:hover{
	background: #F7F7F7;	
}

ul.sortable li .content .body{
	padding-right: 170px;
	display: block;
}

ul.sortable li .content .actions{
	float: right;
	margin-bottom: 0;
	margin-right: -10px;
}

ul.sortable li .content .actions a{
	margin-right: 10px;
}
